<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 <bean id="helloBean" name="helloBean1" class="myproject.hellobean.beans.HelloBean">
 <property name="name" value="Tofique Ahmed Khan"></property>
 </bean>
 <alias name="helloBean" alias="helloBean2"></alias>
 <alias name="helloBean1" alias="helloBean3"></alias>
 </beans>